* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
}
.face-icon{
    width: 200x;
    height: 200px;
    top:0%;
    left:0%;
    position: absolute;
}
.logo{
    width: 128px;
    height: 128px;
    position: absolute;
}